# Uncompressed data

data/*.graphml
data/*.tif
data/*.pickle

# OSMNX image output

images/

# Jupyter stuff

.ipynb_checkpoints

# Visual Studio Code

.vscode

# Compressed population density data
data/compressed/*.zip