# Python stuff

__pycache__

# Uncompressed data

data/*.graphml
data/*.tif
data/*.pickle
data/*.dbf
data/*.prj
data/*.shp
data/*.shx

# OSMNX image output

images/

# Jupyter stuff

.ipynb_checkpoints

# Visual Studio Code

.vscode

# Compressed population density data
data/compressed/*.zip